@model ProfileModel

@{
    const string hideSearchBlockAttributeName = "ProfilePage.HideSearchBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideSearchBlockAttributeName);

    const string hideInfoBlockAttributeName = "ProfilePage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);
}

<input asp-for="Id" type="hidden" />
<input asp-for="CreatedAt" type="hidden" />
<input asp-for="CreatedBy" type="hidden" />
<input asp-for="UpdatedAt" type="hidden" />
<input asp-for="UpdatedBy" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="profile-cards">
                @if (Model.IsAdmin)
                {
                    <nop-card asp-name="profile-search" asp-icon="fas fa-magnifying-glass" asp-title="@T("Admin.Profile.Search")" asp-hide-block-attribute-name="@hideSearchBlockAttributeName" asp-hide="@hideSearchBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Search", Model)</nop-card>
                }
                <nop-card asp-name="profile-info" asp-icon="fas fa-info" asp-title="@T("Admin.Profile.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-card>                
            </nop-cards>
        </div>
    </div>
</section>